In [1]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:admin@localhost:5432/pagila")

In [3]:
import pandas as pd

df = pd.read_sql("""SELECT
    tc.table_schema,
    tc.table_name,
    kcu.column_name,
    ccu.table_schema AS foreign_table_schema,
    ccu.table_name AS foreign_table_name,
    ccu.column_name AS foreign_column_name
FROM information_schema.table_constraints AS tc
JOIN information_schema.key_column_usage AS kcu
  ON tc.constraint_name = kcu.constraint_name
  AND tc.table_schema = kcu.table_schema
JOIN information_schema.constraint_column_usage AS ccu
  ON ccu.constraint_name = tc.constraint_name
  AND ccu.table_schema = tc.table_schema
WHERE tc.constraint_type = 'FOREIGN KEY'
ORDER BY tc.table_name;""", engine)

In [4]:
df

,table_schema,table_name,column_name,foreign_table_schema,foreign_table_name,foreign_column_name
0,public,address,city_id,public,city,city_id
1,public,city,country_id,public,country,country_id
2,public,customer,address_id,public,address,address_id
3,public,customer,store_id,public,store,store_id
4,public,film,original_language_id,public,language,language_id
5,public,film,language_id,public,language,language_id
6,public,film_actor,film_id,public,film,film_id
7,public,film_actor,actor_id,public,actor,actor_id
8,public,film_category,category_id,public,category,category_id
9,public,film_category,film_id,public,film,film_id
10,public,inventory,film_id,public,film,film_id
11,public,inventory,store_id,public,store,store_id
12,public,payment_p2022_01,customer_id,public,customer,customer_id
13,public,payment_p2022_01,rental_id,public,rental,rental_id
14,public,payment_p2022_01,staff_id,public,staff,staff_id
15,public,payment_p2022_02,customer_id,public,customer,customer_id
16,public,payment_p2022_02,rental_id,public,rental,rental_id
17,public,payment_p2022_02,staff_id,public,staff,staff_id
18,public,payment_p2022_03,customer_id,public,customer,customer_id
19,public,payment_p2022_03,rental_id,public,rental,rental_id
20,public,payment_p2022_03,staff_id,public,staff,staff_id
21,public,payment_p2022_04,customer_id,public,customer,customer_id
22,public,payment_p2022_04,rental_id,public,rental,rental_id
23,public,payment_p2022_04,staff_id,public,staff,staff_id
24,public,payment_p2022_05,customer_id,public,customer,customer_id
25,public,payment_p2022_05,rental_id,public,rental,rental_id
26,public,payment_p2022_05,staff_id,public,staff,staff_id
27,public,payment_p2022_06,customer_id,public,customer,customer_id
28,public,payment_p2022_06,rental_id,public,rental,rental_id
29,public,payment_p2022_06,staff_id,public,staff,staff_id
30,public,rental,customer_id,public,customer,customer_id
31,public,rental,inventory_id,public,inventory,inventory_id
32,public,rental,staff_id,public,staff,staff_id
33,public,staff,address_id,public,address,address_id
34,public,staff,store_id,public,store,store_id
35,public,store,address_id,public,address,address_id

In [21]:
d = {}
for _, row in df.iterrows():
    if 'payment' in row['table_name']:
        row['table_name'] = 'payment'
    if row['table_name'] not in d:
        d[row['table_name']] = {}
    elif 'payment' in d:
        continue
    d[row['table_name']][row['foreign_table_name']] = row['table_name'] + '.' + row['column_name'] + ' -> ' + row['foreign_table_name'] + '.' + row['foreign_column_name']

In [22]:
import json
json_str = json.dumps(d, ensure_ascii=False, indent=4)
print(json_str)
with open("output.json", "w", encoding="utf-8") as f:
    json.dump(d, f, ensure_ascii=False, indent=4)

{
    "address": {
        "city": "address.city_id -> city.city_id"
    },
    "city": {
        "country": "city.country_id -> country.country_id"
    },
    "customer": {
        "address": "customer.address_id -> address.address_id",
        "store": "customer.store_id -> store.store_id"
    },
    "film": {
        "language": "film.language_id -> language.language_id"
    },
    "film_actor": {
        "film": "film_actor.film_id -> film.film_id",
        "actor": "film_actor.actor_id -> actor.actor_id"
    },
    "film_category": {
        "category": "film_category.category_id -> category.category_id",
        "film": "film_category.film_id -> film.film_id"
    },
    "inventory": {
        "film": "inventory.film_id -> film.film_id",
        "store": "inventory.store_id -> store.store_id"
    },
    "payment": {
        "customer": "payment.customer_id -> customer.customer_id"
    },
    "rental": {
        "customer": "rental.customer_id -> customer.customer_id"
    },
    "staff": {
        "address": "staff.address_id -> address.address_id"
    },
    "store": {
        "address": "store.address_id -> address.address_id"
    }
}

In [33]:
with open('schemas.txt','r') as f:
    s = f.read()

In [34]:
import re
tables = re.findall(r"CREATE TABLE.*?\);", s, flags=re.DOTALL | re.IGNORECASE)
schemas = {}
for i, t in enumerate(tables):
    match = re.search(r"CREATE TABLE\s+([\w\.]+)", t, flags=re.IGNORECASE)
    table_name = match.group(1).split('.')[1] if match else "unknown"
    ddl_clean = t.replace("\n", " ")
    ddl_clean = re.sub(r"\s+", " ", ddl_clean).strip()
    schemas[table_name] = ddl_clean

In [36]:
table_descriptions = {
    "customer": "Stores basic information about customers, including name, contact details, and store association.",
    "actor": "Contains information about actors, including their names and last update timestamp.",
    "category": "Stores film categories such as Action, Comedy, Drama.",
    "film": "Contains film details such as title, description, release year, language, length, rental rates, and special features.",
    "film_actor": "Associates films with actors (many-to-many relationship between film and actor).",
    "film_category": "Associates films with categories (many-to-many relationship between film and category).",
    "address": "Stores addresses of customers, staff, and stores, including postal code and phone.",
    "city": "Stores cities and links them to countries.",
    "country": "Stores country names.",
    "inventory": "Represents physical copies of films in each store’s inventory.",
    "language": "Stores available languages for films.",
    "payment": "Records payments made by customers for rentals, including amount and payment date.",
    "rental": "Stores rental transactions, linking inventory, customers, and staff.",
    "staff": "Stores information about staff members, including login credentials and addresses.",
    "store": "Represents a video rental store, linking staff (manager) and address."
}

In [37]:
join_d = {}
for key in schemas:
    join_d[key] = {}
    join_d[key]['ddl'] = schemas[key]
    join_d[key]['des'] = table_descriptions[key]

In [38]:
import json
json_str = json.dumps(join_d, ensure_ascii=False, indent=4)
print(json_str)
with open("schemas.json", "w", encoding="utf-8") as f:
    json.dump(join_d, f, ensure_ascii=False, indent=4)

{
    "customer": {
        "ddl": "CREATE TABLE public.customer ( customer_id integer DEFAULT nextval('public.customer_customer_id_seq'::regclass) NOT NULL, store_id integer NOT NULL, first_name text NOT NULL, last_name text NOT NULL, email text, address_id integer NOT NULL, activebool boolean DEFAULT true NOT NULL, create_date date DEFAULT CURRENT_DATE NOT NULL, last_update timestamp with time zone DEFAULT now(), active integer );",
        "des": "Stores basic information about customers, including name, contact details, and store association."
    },
    "actor": {
        "ddl": "CREATE TABLE public.actor ( actor_id integer DEFAULT nextval('public.actor_actor_id_seq'::regclass) NOT NULL, first_name text NOT NULL, last_name text NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Contains information about actors, including their names and last update timestamp."
    },
    "category": {
        "ddl": "CREATE TABLE public.category ( category_id integer DEFAULT nextval('public.category_category_id_seq'::regclass) NOT NULL, name text NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Stores film categories such as Action, Comedy, Drama."
    },
    "film": {
        "ddl": "CREATE TABLE public.film ( film_id integer DEFAULT nextval('public.film_film_id_seq'::regclass) NOT NULL, title text NOT NULL, description text, release_year public.year, language_id integer NOT NULL, original_language_id integer, rental_duration smallint DEFAULT 3 NOT NULL, rental_rate numeric(4,2) DEFAULT 4.99 NOT NULL, length smallint, replacement_cost numeric(5,2) DEFAULT 19.99 NOT NULL, rating public.mpaa_rating DEFAULT 'G'::public.mpaa_rating, last_update timestamp with time zone DEFAULT now() NOT NULL, special_features text[], fulltext tsvector NOT NULL );",
        "des": "Contains film details such as title, description, release year, language, length, rental rates, and special features."
    },
    "film_actor": {
        "ddl": "CREATE TABLE public.film_actor ( actor_id integer NOT NULL, film_id integer NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Associates films with actors (many-to-many relationship between film and actor)."
    },
    "film_category": {
        "ddl": "CREATE TABLE public.film_category ( film_id integer NOT NULL, category_id integer NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Associates films with categories (many-to-many relationship between film and category)."
    },
    "address": {
        "ddl": "CREATE TABLE public.address ( address_id integer DEFAULT nextval('public.address_address_id_seq'::regclass) NOT NULL, address text NOT NULL, address2 text, district text NOT NULL, city_id integer NOT NULL, postal_code text, phone text NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Stores addresses of customers, staff, and stores, including postal code and phone."
    },
    "city": {
        "ddl": "CREATE TABLE public.city ( city_id integer DEFAULT nextval('public.city_city_id_seq'::regclass) NOT NULL, city text NOT NULL, country_id integer NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Stores cities and links them to countries."
    },
    "country": {
        "ddl": "CREATE TABLE public.country ( country_id integer DEFAULT nextval('public.country_country_id_seq'::regclass) NOT NULL, country text NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Stores country names."
    },
    "inventory": {
        "ddl": "CREATE TABLE public.inventory ( inventory_id integer DEFAULT nextval('public.inventory_inventory_id_seq'::regclass) NOT NULL, film_id integer NOT NULL, store_id integer NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Represents physical copies of films in each store’s inventory."
    },
    "language": {
        "ddl": "CREATE TABLE public.language ( language_id integer DEFAULT nextval('public.language_language_id_seq'::regclass) NOT NULL, name character(20) NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Stores available languages for films."
    },
    "payment": {
        "ddl": "CREATE TABLE public.payment ( payment_id integer DEFAULT nextval('public.payment_payment_id_seq'::regclass) NOT NULL, customer_id integer NOT NULL, staff_id integer NOT NULL, rental_id integer NOT NULL, amount numeric(5,2) NOT NULL, payment_date timestamp with time zone NOT NULL );",
        "des": "Records payments made by customers for rentals, including amount and payment date."
    },
    "rental": {
        "ddl": "CREATE TABLE public.rental ( rental_id integer DEFAULT nextval('public.rental_rental_id_seq'::regclass) NOT NULL, rental_date timestamp with time zone NOT NULL, inventory_id integer NOT NULL, customer_id integer NOT NULL, return_date timestamp with time zone, staff_id integer NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Stores rental transactions, linking inventory, customers, and staff."
    },
    "staff": {
        "ddl": "CREATE TABLE public.staff ( staff_id integer DEFAULT nextval('public.staff_staff_id_seq'::regclass) NOT NULL, first_name text NOT NULL, last_name text NOT NULL, address_id integer NOT NULL, email text, store_id integer NOT NULL, active boolean DEFAULT true NOT NULL, username text NOT NULL, password text, last_update timestamp with time zone DEFAULT now() NOT NULL, picture bytea );",
        "des": "Stores information about staff members, including login credentials and addresses."
    },
    "store": {
        "ddl": "CREATE TABLE public.store ( store_id integer DEFAULT nextval('public.store_store_id_seq'::regclass) NOT NULL, manager_staff_id integer NOT NULL, address_id integer NOT NULL, last_update timestamp with time zone DEFAULT now() NOT NULL );",
        "des": "Represents a video rental store, linking staff (manager) and address."
    }
}

In [39]:
join_d.keys()

dict_keys(['customer', 'actor', 'category', 'film', 'film_actor', 'film_category', 'address', 'city', 'country', 'inventory', 'language', 'payment', 'rental', 'staff', 'store'])